.card {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 70%;
    height: 3%;
    margin: 10px auto;
    padding: 0px;
    background-color:aquamarine;
    border: 1px solid #056779;
    border-radius: 5px;
    box-shadow: 7px 7px 1px #056779;
    text-align: center;
    font-family: sans-serif;
}

#id {
    padding: 3px;
}

#name {
    padding: 3px;
}

#location {
    padding: 3px;
}

#vid {
    padding: 3px;
}

#ipAdd {
    padding: 3px;
}

#mask {
    padding: 3px;
}

#prov {
    padding: 3px;
}

#info {
    padding: 3px;
}
